@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-with-scroll {
    display: inline-flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: 10px;
}
